:root {
  --font-color: #f6e6e0;
  --header-font-color: #e8cccb;
  --font-family: Pumo, Helvetica, sans-serif;
  --font-family-header: Bitter, serif;
  --background-color: #969593;
}

body {
  background-color: var(--background-color);
}
nav {
  padding-left: 20px;
}
.gelareh-name {
  margin-right: 40px;
}

h1 {
  color: var(--header-font-color);
  font-family: var(--font-family-header);
  font-size: 60px;
  font-weight: bold;
}
h2 {
  color: var(--font-color);
  font-family: var(--font-family);
}
h3 {
  color: var(--font-color);
  font-family: var(--font-family);
  margin-top: 240px;
  font-size: 20px;
}
.girl-laptop {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 130px;
}

#about {
  color: var(--header-font-color);
  font-family: var(--font-family-header);
  font-size: 40px;
  margin: 25px 15px 15px;
}
.story {
  color: var(--font-color);
  font-family: var(--font-family);
  margin: 15px 35px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.7;
}
#gelareh-photo {
  max-width: 90%;
  height: auto;
  border-radius: 40px;
  margin: 20px 50px;
}
.spass {
  margin-top: 80px;
}
.spass-but {
  margin-top: 150px;
}
.footer {
  background-color: var(--font-color);
}
.icon {
  justify-content: center;
  display: flex;
}
.icon a {
  margin: 5px 20px 0px;
  text-decoration: none;
  font-size: 40px;
  color: var(--background-color);
}
.email {
  justify-content: center;
  display: flex;
}
.email a {
  text-decoration: none;
  font-size: 18px;
  color: var(--background-color);
  margin-top: 0px;
}
.coded-by {
  text-align: center;
  color: var(--background-color);
  opacity: 0.8;
  padding: 20px 0px 10px;
}
.experinse {
  margin: 90px 10px;
  color: var(--header-font-color);
  font-family: var(--font-family-header);
  font-size: 50px;
}
.head-travel {
  color: var(--header-font-color);
  font-family: var(--font-family-header);
  font-size: 40px;
  margin: 25px 0px 15px;
}
.travel-story {
  color: var(--font-color);
  font-family: var(--font-family);
  margin: 15px 5px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.7;
}
.travel-photo {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-left: 140px;
  margin-bottom: 20px;
}
.head-weather {
  color: var(--header-font-color);
  font-family: var(--font-family-header);
  font-size: 40px;
  margin: 45px 0px 15px;
}
.weather-story {
  color: var(--font-color);
  font-family: var(--font-family);
  margin: 15px 15px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.7;
}
.weather-photo {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  margin-left: 100px;
}
.lunch {
  background-color: var(--font-color);
  padding: 10px 20px;
  border-radius: 10px;
  border-color: var(--font-color);
  margin-left: 20px;
}
.lunch a {
  text-decoration: none;
  color: var(--background-color);
}
.head-dictionary {
  color: var(--header-font-color);
  font-family: var(--font-family-header);
  font-size: 40px;
  margin: 65px 0px 15px;
}
.dictionary-story {
  color: var(--font-color);
  font-family: var(--font-family);
  margin: 15px 5px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.7;
}
.dictionary-photo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: -20px;
  margin-top: 10px;
}
.contact {
  margin: 90px 10px 20px;
  color: var(--header-font-color);
  font-family: var(--font-family-header);
  font-size: 50px;
}
.get-in-touch {
  color: var(--font-color);
  font-family: var(--font-family);
  margin: 25px 5px 100px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.7;
}
.get-in-touch a {
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--font-family);
}
.contact-me {
  max-width: 900px;
  margin: 0 auto;
}
.name {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 20px;
}
.email-address {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 20px;
}
.message {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 20px;
}
.submit {
  font-family: var(--font-family);
  background-color: var(--font-color);
  color: var(--background-color);
  border-color: var(--font-color);
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .coded-by,
  h1,
  h2,
  h3,
  .story,
  .travel-story,
  .weather-story,
  .dictionary-story,
  .get-in-touch,
  .name,
  .email-address,
  .message,
  .submit,
  #about,
  .head-travel,
  .head-weather,
  .head-dictionary {
    margin-left: 10px;
    margin-right: 10px;
  }
  h3 {
    margin-top: 90px;
  }
  h1 {
    font-size: 43px;
  }
  .girl-laptop {
    margin: 10px auto;
    display: block;
    max-width: 90%;
  }
  .story,
  .travel-story,
  .weather-story,
  .dictionary-story,
  .get-in-touch,
  .name,
  .email-address,
  .message,
  .submit {
    font-size: 15px;
  }
  #about,
  .head-travel,
  .head-weather,
  .head-dictionary {
    font-size: 25px;
  }
  .experinse,
  .contact {
    font-size: 35px;
  }
  .experinse {
    margin-bottom: 40px;
  }
  #gelareh-photo {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
  .spass {
    margin-top: 20px;
  }
  .travel-photo {
    display: block;
    margin: 0 auto;
  }
  .weather-photo {
    display: block;
    margin: 0 auto;
  }
  .lunch {
    margin: 10px 10px 30px;
  }
  .dictionary-photo {
    display: block;
    margin: 0px auto;
    margin-top: 30px;
  }
  .head-dictionary,
  .head-weather {
    margin-top: 20px;
  }
  .get-in-touch {
    margin-bottom: 50px;
  }
}
